.idea
.vscode

.env
.envrc
.env.*
!.env.dist
!.env.example
!.env.*.dist
!.env.*.example
*.env
!*.dist.env
!*.example.env

/workdir/*
!/workdir/backups
/workdir/backups/*
!/workdir/awg
/workdir/awg/*
!/workdir/wg
/workdir/wg/*

/docker-compose.override.yml

!.gitignore
!.gitkeep
